@font-face {
  font-family: "Merriweather-Bold";
  src: url("./Merriweather-Bold.ttf");
}
@font-face {
  font-family: "Merriweather-Regular";
  src: url("./Merriweather-Regular.ttf");
}
@font-face {
  font-family: "Merriweather-Light";
  src: url("./Merriweather-Light.ttf");
}
