<div class="internalLayout">
  <app-navbar></app-navbar>
  <app-header></app-header>
  <div class="internalContent">
    <section class="cardContent">
      <app-card-big
        *ngFor="let card of mockupApiCards; let index = index"
        [id]="index"
        [title]="card.title"
        [text]="card.text"
        [buttonText]="card.buttonText"
      ></app-card-big>
    </section>
    <div class="rightMenu desktop">
      <app-menu-right></app-menu-right>
    </div>

    <section class="desktop smallCardContainer">
      <app-card-small></app-card-small>
    </section>
  </div>
  <hr class="horizontalLine" />
  <app-footer></app-footer>
</div>
